# See https://github.com/iv-org/invidious-companion/blob/master/config/config.example.toml
INVIDIOUS_BEARER_TOKEN=some-token-value
INVIDIOUS_PORT=8282

# Necessary for server deploy
DOMAIN=<server-domain>
EMAIL=<your-email>
LOG_FILE=/data/access.log