{
	order authenticate before respond
	order authorize before basicauth

	security {
		local identity store localdb {
			realm local
			path /etc/caddy/users.json

			user {$USER} {
				name {$USER}
				email {$EMAIL}
				password "bcrypt:10:{$PASSWORD}" overwrite
				roles authp/admin authp/user
			}
		}

		authentication portal myportal {
			crypto default token lifetime 7884000
			crypto key sign-verify {env.JWT_SHARED_KEY}

			enable identity store localdb

			cookie domain {$DOMAIN}
			cookie lifetime 7884000

			transform user {
				match origin local
				action add role authp/user
			}
		}

		authorization policy mypolicy {
			set auth url https://auth.{$DOMAIN}/
			allow roles authp/admin authp/user
			crypto key verify {env.JWT_SHARED_KEY}

			with basic auth portal myportal realm local

			acl rule {
				comment allow users
				match role authp/user
				allow stop log info
			}

			acl rule {
				comment default deny
				match any
				deny log warn
			}
		}
	}
}

auth.{$DOMAIN} {
	route {
		authenticate with myportal
	}
}

{$DOMAIN} {
	log {
		level INFO
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 10
		}
	}

	tls {$EMAIL}
	encode zstd gzip

	authenticate with myportal

	handle_path /api/v1/proxy* {
		authorize with mypolicy

		reverse_proxy http://proxy:3001
	}

	route {
		authorize with mypolicy

		reverse_proxy http://beatbump:8080
	}
}
