{$DOMAIN} {
  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  tls {$EMAIL}
  encode zstd gzip

  # TODO: add a more handy way to allow only whitelist ips
  # @blocked not remote_ip some-ip
  # abort @blocked
 
  reverse_proxy beatbump:8080 {
       header_up X-Real-IP {remote_host}
  }
}