{$DOMAIN} {
  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  tls {$EMAIL}
  encode zstd gzip

  # TODO: add a more handy way to allow only whitelist ips
  # @blocked not remote_ip some-ip
  # abort @blocked

  @audio_proxy {
		path /api/v1/proxy 
	}

  handle_path /api/v1/proxy* {
    reverse_proxy http://proxy:3001
  }
 
  reverse_proxy beatbump:8080 {
    header_up X-Real-IP {remote_host}
  }
}